.header {
    height: 60px;
    background-color: white;
    border-bottom: 2px solid #000000;
}

.header img {
    height: 60px;
}

.header-logo {
    display: flex;
}

.header-logo img {
    align-items: center;
}
