.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 60px;
    background-color: white;
    border-bottom: 2px solid #000000;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 2;
}

.header img {
    height: 40px;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.nav-toggle i {
    margin: 8px 0;
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: darkslateblue;
}

.nav-toggle i:last-child {
    margin-bottom: 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateX(100%);
    transition: .2s ease-out;
}

.nav-menu li {
    margin: 20px 0;
}

.nav-menu a {
    font-size: 20px;
}

.mobile-nav.-open .nav-menu {
    transform: translateX(0%);
}

.mobile-nav.-open .nav-toggle i:first-child {
    opacity: 0;
    transform: .5s;
}

.mobile-nav.-open .nav-toggle {
    padding-right: 25px;
}

.mobile-nav.-open .nav-toggle i:nth-child(2) {
    transform: rotate(45deg);
    margin-bottom: -10px;
}

.mobile-nav.-open .nav-toggle i:last-child {
    transform: rotate(-45deg);
}

